{% extends "base.html" %}
{% block title %}Формы{% endblock %}
{% block content %}
<h1>Выбери форму</h1>
<div class="center-buttons">
  <a class="bigbtn" href="{{ url_for('forms.form_torg12') }}">ТОРГ-12</a>
  <a class="bigbtn" href="{{ url_for('forms.form_message') }}">Состав конверта сообщения</a>
  <a class="bigbtn" href="{{ url_for('forms.form_exploitation') }}">Эксплуатационная структура</a>
  <a class="bigbtn" href="{{ url_for('forms.form_transport') }}">Транспортная маркировка</a>
</div>
{% endblock %}